:root {
  --color-bg: #ddd;
  --color-inner-hexagon: rgb(226, 150, 9);
  --color-text: DarkSlateGrey;
  /* Use clip-path to create the shape */
  --hexagon-clip-path: polygon(
    0 25%,
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%
  );

  --width-hexagon-outer: 4vw;
  --amount-of-hexagons: 5;
  --width-hexagon-container: calc(
    var(--width-hexagon-outer) * var(--amount-of-hexagons)
  );
  --height-hexagon-outer: calc(1.154665 * var(--width-hexagon-outer));
  --margin-left: calc(0.5 * (var(--width-hexagon-outer)));
  /* the margin at the top for all but the first row is a fourth of the container's height */
  --margin-top: calc(-1 * var(--height-hexagon-outer) / 4);
  /* the gap between the hexagons is created by an inner hexagon*/
  --size-hexagon-inner: 86%;
  --skew-X: 12deg;
  --skew-Y: 4deg;
  --hover-rotation: 6deg;
  --hover-scale: 1.6;
  --hover-transition: 0.7s;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: 'system';
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: #fff;
}
