:root {
  --color-bg: #dddddd;
  --color-inner-hexagon: #e29609;
  --color-text: #284646;
  /* Use clip-path to create the shape */
  --hexagon-clip-path: polygon(
    0 25%,
    50% 0,
    100% 25%,
    100% 75%,
    50% 100%,
    0 75%
  );

  --width-hexagon-outer: 6vw;
  --number-of-hexagons-first-row: 9;
  --width-hexagon-container: calc(
    var(--width-hexagon-outer) * var(--number-of-hexagons-first-row)
  );
  --height-hexagon-outer: calc(1.1547005 * var(--width-hexagon-outer));
  --margin-left: calc(0.5 * (var(--width-hexagon-outer)));
  /* the margin at the top for all but the first row is a fourth of the container's height */
  --margin-top: calc(-1 * var(--height-hexagon-outer) / 4);
  /* the gap between the hexagons is created by an inner hexagon*/
  --size-hexagon-inner: 86%;
  --skew-X: 0deg;
  --skew-Y: 0deg;
  --hover-rotation: 6deg;
  --hover-scale: 1.6;
  --hover-transition: 0.7s;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
  font-size: 62.5%; /* rem = 10px */
}

body {
  box-sizing: border-box;
  font-family: "system";
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: #fff;
  height: 100vh;
  width: 100vw;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 8vh;
  z-index: 10;

  .header__brand {
    margin: 1rem;
    font-size: 3rem;
  }

  .header__section-buttons {
    padding: 1rem;
  }

  .header__button {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: inherit;
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
  }
}

.generator {
  .hexagon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hexagon-wrapper__hexagon-container {
    width: var(--width-hexagon-container);
    display: flex;
    flex-wrap: wrap;
    transform: skew(var(--skew-X), var(--skew-Y));
  }

  /* top row does not need to go up, all other row got up with a quarter their size */
  .hexagon__outer {
    -webkit-clip-path: var(--hexagon-clip-path);
    clip-path: var(--hexagon-clip-path);
    width: var(--width-hexagon-outer);
    height: var(--height-hexagon-outer);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--margin-top);
    transition: all var(--hover-transition);
  }

  .hexagon__outer:hover {
    transform: scale(var(--hover-scale)) rotate(var(--hover-rotation));
  }

  .first-row__margin-top {
    margin-top: 0;
  }

  .even-rows__margin-left {
    margin-left: var(--margin-left);
  }

  .hexagon__inner {
    background-color: var(--color-inner-hexagon);
    -webkit-clip-path: var(--hexagon-clip-path);
    clip-path: var(--hexagon-clip-path);
    width: var(--size-hexagon-inner);
    height: var(--size-hexagon-inner);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
    font-size: 1.28rem;
  }
}

.controls {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;

  .controls__input {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
  }

  .input-field {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 6rem;

    @media (max-width: 1500px) {
      width: 4rem;
    }

    @media (max-width: 1200px) {
      /* width: 3rem; */
      margin: 1rem;
    }
  }

  .input-field__label {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  input {
    text-align: center;
    width: 6rem;
    height: 4rem;
    border: none;

    @media (max-width: 1500px) {
      font-size: 1rem;
      width: 4rem;
      height: 3rem;
    }

    @media (max-width: 1200px) {
      height: 2rem;
    }
  }

  input:focus {
    outline: none;
  }

  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

dialog {
  min-width: 50vw;
  padding: 1rem;
  font-size: 1.2rem;
  position: relative;

  .dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dialog__btns {
      width: 100%;
      position: sticky;
      top: 0;
      z-index: 10;
      display: flex;
      gap: 1rem;
      justify-content: end;
    }
  }

  dialog[open]::backdrop {
    background-color: rgba(51, 51, 51, 0.6);
  }

  pre {
    padding: 0 2rem;
    margin: 0;

    code {
      .html-symbol,
      .css-brace {
        color: rgb(255, 165, 0);
      }

      .html-element,
      .css-value {
        color: rgb(9, 125, 125);
      }

      .html-attribute,
      .css-selector {
        color: rgb(229, 93, 116);
      }

      .css-property {
        color: rgb(8, 2, 54);
      }
    }
  }
}
