:root {
	--color-bg: #dddddd;
	--color-inner-hexagon: #e29609;
	--color-text: #284646;
	/* Use clip-path to create the shape */
	--hexagon-clip-path: polygon(
		0 25%,
		50% 0,
		100% 25%,
		100% 75%,
		50% 100%,
		0 75%
	);

	--width-hexagon-outer: 4vw;
	--number-of-hexagons: 5;
	--width-hexagon-container: calc(
		var(--width-hexagon-outer) * var(--number-of-hexagons)
	);
	--height-hexagon-outer: calc(1.154665 * var(--width-hexagon-outer));
	--margin-left: calc(0.5 * (var(--width-hexagon-outer)));
	/* the margin at the top for all but the first row is a fourth of the container's height */
	--margin-top: calc(-1 * var(--height-hexagon-outer) / 4);
	/* the gap between the hexagons is created by an inner hexagon*/
	--size-hexagon-inner: 86%;
	--skew-X: 12deg;
	--skew-Y: 4deg;
	--hover-rotation: 6deg;
	--hover-scale: 1.6;
	--hover-transition: 0.7s;
}

@font-face {
	font-family: system;
	font-style: normal;
	font-weight: 300;
	src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
		local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
		local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

html {
	font-size: 62.5%; /* rem = 10px */
}

body {
	box-sizing: border-box;
	font-family: 'system';
	margin: 0;
	padding: 0;
	background-color: var(--color-bg);
	color: #fff;
}

input {
	text-align: right;
	width: 4rem;
	text-align: left;
}

input:focus {
	outline: none;
}

.container {
	min-height: 100vh;
	width: 100vw;
	position: relative;
}

header {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.brand {
	margin: 1rem;
	font-size: 3rem;
}

.header__section-buttons {
	margin: 1rem;
}

.header__button {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	color: inherit;
	height: 4rem;
	width: 4rem;
	margin-right: 1rem;
}

.input-field__input-item {
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* HEXAGON SECTION */
main {
	min-height: 92vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hexagon-wrapper {
	/* grid-area: hexagons; */
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hexagon-wrapper__hexagon-container {
	width: var(--width-hexagon-container);
	display: flex;
	flex-wrap: wrap;
	transform: skew(var(--skew-X), var(--skew-Y));
}

/* top row does not need to go up, all other row got up with a quarter their size */
.hexagon__outer {
	-webkit-clip-path: var(--hexagon-clip-path);
	clip-path: var(--hexagon-clip-path);
	width: var(--width-hexagon-outer);
	height: var(--height-hexagon-outer);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: var(--margin-top);
	transition: all var(--hover-transition);
}

.hexagon__outer:hover {
	transform: scale(var(--hover-scale)) rotate(var(--hover-rotation));
}

.first-row__margin-top {
	margin-top: 0;
}

.even-rows__margin-left {
	margin-left: var(--margin-left);
}

.hexagon__inner {
	background-color: var(--color-inner-hexagon);
	-webkit-clip-path: var(--hexagon-clip-path);
	clip-path: var(--hexagon-clip-path);
	width: var(--size-hexagon-inner);
	height: var(--size-hexagon-inner);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-text);
	font-size: 1.28rem;
}

footer {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.controls {
	display: flex;
	flex-wrap: wrap;
}
